body {
    font-family: Arial, Helvetica, sans-serif;
}

header.map-header {
    padding: 20px 30px;
    /* background: url('../images/trangbando/logo_app_bg-index2.png') no-repeat center right; */
    background: #cfdcff;
    margin-bottom: 30px;
}

header.map-header .logo {}

header.map-header .logo img {
    /* width: 250px; */
    width: 100px;
    float: left;
}

header.map-header .list-menu {
    width: calc(100% - 300px);
    float: left;
    padding-left: 300px;
    line-height: 40px;
}

header.map-header .list-menu ul li {
    float: left;
    margin-right: 30px;
}

header.map-header .list-menu ul li a {
    display: block;
    text-decoration: none;
    padding: 0px 30px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 25px;
}

header.map-header .list-menu ul li a.active {
    border: solid 1px #00336d
}

.background-map {
    background: url("../images/trangbando/world-map.jpg");
    width: 100%;
    height: 1000px;
    position: relative;
}

.box-control {
    position: absolute;
    top: 20px;
    left: 20px
}

.box-control .box-search {
    position: relative;
    margin-bottom: 20px;
}

.box-control .box-search input {
    padding: 10px 10px;
    width: 300px;
}

.box-control .box-search button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #00336d;
    border: none;
    color: #fff;
    padding: 0px 10px
}

.list-button li {
    margin-bottom: 5px;
}

.list-button li button {
    border: 1px solid #333;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.list-button li select {
    padding: 5px;
    width: 300px;
    background: #4d4b4bd9;
    color: #fff;
}

.map-popup {
    position: absolute;
    top: 200px;
    right: 200px;
    width: 200px;
    height: auto;
    overflow: auto;
    background: #fff;
}

.map-popup .header {
    text-align: center;
    background: darkblue;
    color: #fff;
    padding: 10px 0px
}

.map-popup .info {
    padding: 10px
}

.map-popup .info ul li {
    margin-bottom: 10px;
}

.group-button {
    position: absolute;
    top: 20px;
    left: 500px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc
}

.group-button ul li {
    margin-bottom: 10px;
}

.group-button ul li button {
    padding: 5px 20px;
    background: darkblue;
    color: #fff;
    border: none
}

.wrapper-page {
    padding: 40px
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border: 1px solid #e9ecef
}

.table th,
.table td {
    border: 1px solid #e9ecef;
    padding: .55rem;
}

.table th {
    font-weight: 700;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.relative-popup {
    position: relative;
}

.table-popup {
    position: absolute;
    top: 100%;
    left: -110px;
    /* width: 600px; */
    border: 1px solid #333;
    background: #dfdfdf;
    display: none;
}

.table-popup.show {
    display: block;
    z-index: 9999;
}

.table-popup th {
    background: darkblue;
    color: #fff;
    border: 1px solid #333
}

.table-popup td {
    border: 1px solid #333
}

.button-create {
    padding: 10px 30px;
    border: none;
    background: #1cca64;
    color: #fff
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
}

.page-item:first-child .page-link,
.pagination .page-number:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.page-item.active .page-link,
.pagination .active.page-number .page-link {
    z-index: 1;
    color: #fff;
    background-color: #3f6ad8;
    border-color: #007bff;
}